<h1>Show Category</h1>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<p>
   <strong>Description:</strong>
   <%= @category.description %>
</p>
<p>
   <strong>Status:</strong>
   <%= @category.active %>
</p>
<p><td><%= link_to "Back", categories_path %> </p>